body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}
a {
  text-decoration: none;
  color: #252525;
}
li a:hover {
  text-decoration: none;
}
div .nav {
  margin-top: 5px;
  margin-bottom: 10px;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.nav li:first-child {
  padding-left: 0;
}
.nav li::after {
  content: '/';
  margin: 0 10px 0 15px;
  color: #000000;
  text-decoration: none;
}
.nav li:last-child:after {
  content: '';
}
.nav li::after:hover {
  text-decoration: none;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
  padding: 5px;
  text-decoration: none;
}

.center {
  text-align: center;
}

div .page-header {
  margin-bottom: 1.5rem;
}
div .container-detail {
  padding: 1.5rem 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  color: white;
  background-color: #3b78c1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
div .container-detail:hover {
  transform: scale(1.02);
}
.container-question {
  padding: 2rem 2rem;
  margin-top: 5px;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  color: white;
  background-color: rgba(145, 187, 232, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}
.question-title {
  cursor: pointer;
}
.fade:not(.show) {
  opacity: 1 !important;
}
div .form-control {
  margin: 10px 0;
}
.question-new {
  color: white;
  background-color: #7aabdc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  margin: 10px;
}
.question-new:hover {
  transform: scale(1.05);
}
.question-answer {
  color: #054205;
}
.question-un-answer {
  color: red;
}
.change-select {
  cursor: pointer;
}
.new-question {
  padding-bottom: 30px;
}
.author-name-class {
  display: flex;
}
.sign-in-author {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
div .progress-bar {
  background-color: #7b28a7;
}
.logout-button {
  color: #4f7bff;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 45px;
  margin-left: -13em;
}
.logout-icon {
  position: absolute;
  top: 15px;
}
.author-name {
  margin-top: 10px;
  margin-left: 25px;
  height: 30px;
}
